{% extends 'layouts/base.html.twig' %}

{% block title 'Change Password' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center my-5">Change Password</h1>

            {{ form_start(form) }}
            <div class="mb-3">
               {{ form_row(form.currentPassword) }}
            </div>
            <div class="mb-3">
               {{ form_row(form.plainPassword) }}
            </div>
            <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn btn-primary btn-block">
                    Update Password
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}