{% extends 'layouts/base.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('_route') == 'app_pins_edit' %}
			Edit Pin
		{% else %}
            New Pin
		{% endif %}
{% endblock %}
{% block body %}
        {% if app.request.attributes.get('_route') == 'app_pins_edit' %}
			<h1>Edit {{pin.title}}</h1>
		{% else %}
            <h1>Create Pin</h1>
			<br>
		{% endif %}
            {{ form_start(form) }}
                {{ form_widget(form) }}
                {% if app.request.attributes.get('_route') == 'app_pins_edit' %}
                    <button type="submit" class="">Update</button>
                {% else %}
                    <button type="submit" class="">Create</button>
                {% endif %}
            {{ form_end(form) }}
{% endblock %}
