{% extends 'layouts/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="row py-5">
    <div class="col-md-6 mx-auto">  
        <h1 class="text-center my-5">Reset your password</h1>

        {{ form_start(resetForm) }}
        <div class="mb-5">
            {{ form_widget(resetForm.plainPassword) }}
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary">Reset password</button>
        </div>
        {{ form_end(resetForm) }}
    </div>
</div>
{% endblock %}
