<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <style>
        .alert{
            padding: 10px;
            color: white;
            text-align: center;
        }

        .alert-success{
            background-color: green;
        }

        .alert-error{
            background-color: red;
        }

        .alert-info{
            background-color: blue;
        }
    </style>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="{{ path('app_home') }}">Home</a>
                </li>
                <li>
                    <a href="{{ path('app_pins_create') }}">New Pin</a>
                </li>
            </ul>
        </nav>
        {{ include ('layouts/partials/_flash_messages.html.twig') }}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
