<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">&copy; {{ 'now' | date('Y') }} &middot; Fait avec <span class="text-danger fs-5">&hearts;</span></span>
  </div>
</footer>